---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Recuperar contraseña">
	<h5>Recuperar contraseña</h5>
	<hr />
	<p>
		<strong>Descripción: </strong>Sección donde se muestran los endpoints necesarios para que el usuario recupere su contraseña. A los endpoints se les debe dar el type en la url que pueden ser "/email" o "/phone"
	</p>
	<br>
	<h6>Enviar código de verificación al correo electrónico o número de teléfono del usuario</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/reset-password/send-code/[type]</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Request email:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "email": "demo@gmail.com"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta email</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Se ha enviado un código de verificación al correo electrónico ingresado, reviselo y siga las instrucciones."
}, null, 2)}
	</pre>
	<p>
		<strong>Request phone:</strong>
	</p>
	<pre>
		{ JSON.stringify({
	"phone": "922834234",
	"country_code":"+51"
	}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta phone</strong>
	</p>
	<pre>
		{ JSON.stringify({
	"success": true,
	"message": "Se ha enviado un código de verificación al número de teléfono ingresado, reviselo y siga las instrucciones."
	}, null, 2)}
	</pre>
	<br><br>
	<h6>Reenviar código de verificación al correo electrónico o número de teléfono del usuario</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/reset-password/resend-code/[type]</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Request email:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "email": "demo@gmail.com"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta email</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Se ha enviado un código de verificación al correo electrónico ingresado, reviselo y siga las instrucciones."
}, null, 2)}
	</pre>
	<p>
		<strong>Request phone:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "phone": "922834234",
	"country_code":"+51"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta phone</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
	"message": "Se ha enviado un código de verificación al número de teléfono ingresado, reviselo y siga las instrucciones."
}, null, 2)}
	</pre>
	<br><br>

	<h6>Validar código de verificación</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/reset-password/validate-code/[type]</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Request email:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "email": "demo@gmail.com",
    "code": "622391",
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta email</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
	"code": "622391",
	"is_valid" : true,
    "message": "Operación realizada de forma correcta."
}, null, 2)}
	</pre>
	<p>
		<strong>Request phone:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "phone":"922834945",
    "country_code":"+51",
  	"code": "519189"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta phone</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "code": "519189",
    "is_valid": true,
    "message": "Operación realizada de forma correcta."
}, null, 2)}
	</pre>
	<h6>Cambiar la contraseña</h6>
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfacturacion.test/api/v1/ecommerce/reset-password/change-password/[type]</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
		<strong>Request email:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "email": "demo@gmail.com",
    "code": "622391",
    "password": "Demo#123",
    "password_confirmation": "Demo#123"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta email</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "La contraseña ha sido restablecida de forma correcta."
}, null, 2)}
	</pre>
	<p>
		<strong>Request phone:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "phone":"922834945",
    "country_code":"+51",
	"code": "519189",
	"password": "test#123",
	"password_confirmation": "test#123"
}, null, 2)}
	</pre>
	<p>
		<strong>Respuesta phone</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "La contraseña ha sido restablecida de forma correcta."
}, null, 2)}
	</pre>
</MainLayout>