---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Geor Ecommerce - Historial de pedidos realizados">
	<h5>Lista de pedidos realizados</h5>
	<hr />
	<p>
		<strong>URL: </strong>
		<span>http://pasion.georfact.test/api/v1/ecommerce/orders</span>
	</p>
	<p><strong>Método: </strong>GET</p>
	<p>
		<strong>Request:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "status": "PENDIENTE DE PAGO",
	"page": 1
}, null, 2) }
	</pre>
	<p>
		<strong>Respuesta:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "data": [
        {
            "code": "38e23e10-3b56-4a39-90a4-e990356a7d11",
            "order": "000004",
            "created_at": "2023-11-21T17:54:17.000000Z",
            "items": 35,
            "status": "PENDIENTE DE PAGO"
        }
    ],
    "links": {
        "first": "https://pasion.georfact.test/api/v1/ecommerce/orders?page=1",
        "last": "https://pasion.georfact.test/api/v1/ecommerce/orders?page=1",
        "prev": null,
        "next": null
    },
    "meta": {
        "current_page": 1,
        "from": 1,
        "last_page": 1,
        "path": "https://pasion.georfact.test/api/v1/ecommerce/orders",
        "per_page": 12,
        "to": 1,
        "total": 1
    },
    "success": true,
    "message": "Información procesada de forma correcta."
}, null, 2) }
	</pre>

	<br><br>
	<h5>Detalle de un pedido</h5>
	<hr />
	<p>
		<strong>URL: </strong>
		<span>https://pasion.georfact.test/api/v1/ecommerce/orders/38e23e10-3b56-4a39-90a4-e990356a7d11</span>
	</p>
	<p><strong>Método: </strong>GET</p>
	<p>
		<strong>Respuesta:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "data": {
        "code": "38e23e10-3b56-4a39-90a4-e990356a7d11",
        "order": "000001",
        "status": "PENDIENTE DE PAGO",
        "payment_method": "TRANSFERENCIA",
        "quantity": 35,
        "subtotal": 42044.4915,
        "total_taxes": 7568.0085,
        "total_shipments": 7837.56,
        "discounts": 0,
        "total": 57450.06,
        "items": [
            {
                "id": 10,
                "quantity": 3,
                "subtotal": 1875,
                "total_taxes": 337.5,
                "discounts": 0,
                "total": 2212.5,
                "data": {
                    "item_id": 2227,
                    "quantity": 3
                },
                "item": {
                    "id": 2227,
                    "brand": {
                        "id": 4,
                        "marca": "ZENZI"
                    },
                    "files": [],
                    "price": 625,
                    "stock": 500,
                    "prices": [],
                    "weight": 50,
                    "barcode": "1000000025555555",
                    "currency": {
                        "id": "PEN",
                        "symbol": "S/",
                        "description": "Soles"
                    },
                    "in_offer": false,
                    "variants": [],
                    "min_order": 0,
                    "unit_type": {
                        "id": "MTR",
                        "description": "Metros"
                    },
                    "additional": null,
                    "description": "Producto # 4",
                    "internal_id": "PAN004",
                    "offer_price": 0,
                    "has_variants": false,
                    "specifications": []
                }
            },
            {
                "id": 11,
                "quantity": 30,
                "subtotal": 38135.5932,
                "total_taxes": 6864.4068,
                "discounts": 0,
                "total": 45000,
                "data": {
                    "item_id": 380,
                    "quantity": 30
                },
                "item": {
                    "id": 380,
                    "brand": {
                        "id": 5,
                        "marca": "PASSION"
                    },
                    "files": [],
                    "price": 1500,
                    "stock": 0,
                    "prices": [],
                    "weight": 65,
                    "barcode": null,
                    "currency": {
                        "id": "PEN",
                        "symbol": "S/",
                        "description": "Soles"
                    },
                    "in_offer": false,
                    "variants": [],
                    "min_order": 0,
                    "unit_type": {
                        "id": "NIU",
                        "description": "Unidades"
                    },
                    "additional": null,
                    "description": "COLCHON POCKET 1023R KING ZISE",
                    "internal_id": "COL-POC004",
                    "offer_price": 0,
                    "has_variants": false,
                    "specifications": []
                }
            },
            {
                "id": 12,
                "quantity": 2,
                "subtotal": 2033.8983,
                "total_taxes": 366.1017,
                "discounts": 0,
                "total": 2400,
                "data": {
                    "item_id": 383,
                    "quantity": 2
                },
                "item": {
                    "id": 383,
                    "brand": {
                        "id": 5,
                        "marca": "PASSION"
                    },
                    "files": [],
                    "price": 1200,
                    "stock": 0,
                    "prices": [],
                    "weight": 55,
                    "barcode": null,
                    "currency": {
                        "id": "PEN",
                        "symbol": "S/",
                        "description": "Soles"
                    },
                    "in_offer": false,
                    "variants": [],
                    "min_order": 0,
                    "unit_type": {
                        "id": "NIU",
                        "description": "Unidades"
                    },
                    "additional": null,
                    "description": "COLCHON POCKET 744R QUEEN ZISE",
                    "internal_id": "COL-POC003",
                    "offer_price": 0,
                    "has_variants": false,
                    "specifications": []
                }
            }
        ],
		"billing": {
            "district": {
                "id": "150101",
                "description": "Lima"
            },
            "province": {
                "id": "1501",
                "description": "Lima"
            },
            "billing_id": 4,
            "department": {
                "id": "15",
                "description": "Lima "
            },
            "business_name": "Juan Yoel Cerna Torres",
            "fiscal_address": "calle las flores s/n",
            "tax_identifier": "10447857168"
        },
        "shipment": {
            "type": "DOMICILIO",
            "details": {
                "price": 6642,
                "lead_time": 1
            },
            "weight": 2210,
            "subtotal": 6642,
            "total": 7837.56,
            "address": "Calle las dlores s/n",
            "extra": [
                {
                    "Ubigeo": "10",
                    "Departamento": "Lima"
                },
                {
                    "Ubigeo": "1010",
                    "Provincia": "Lima"
                },
                {
                    "Ubigeo": "101001",
                    "Distrito": "Lima"
                }
            ],
            "postal_code": "101155",
            "arrives_from": "2023-11-21 12:01:10",
            "arrives_to": "2023-11-21 14:01:10",
            "receives_name": "Alice Cerna Mendonza",
            "requirements": "Agregame mi boleta al correo joel201087@gmail.com"
        },
		"document": {
            "number": 27,
            "series": "F002",
            "number_full": "F002-27",
            "customer": {
                "identity_document_type_id": "6",
                "identity_document_type": {
                    "id": "6",
                    "description": "RUC"
                },
                "number": "20568242271",
                "name": "AGRICOLA Y SERVICIOS GENERALES COROCAS SOCIEDAD COMERCIAL DE RESPONSABILIDAD LIMITADA",
                "trade_name": "AGRICOLA Y SERVICIOS GENERALES COROCAS SOCIEDAD COMERCIAL DE RESPONSABILIDAD LIMITADA",
                "country_id": "PE",
                "country": {
                    "id": "PE",
                    "description": "PERÚ"
                },
                "department_id": "15",
                "department": {
                    "id": "15",
                    "description": "Lima "
                },
                "province_id": "1501",
                "province": {
                    "id": "1501",
                    "description": "Lima"
                },
                "district_id": "150101",
                "district": {
                    "id": "150101",
                    "description": "Lima"
                },
                "address": "calle las flores s/n",
                "email": null,
                "telephone": null,
                "perception_agent": false
            },
            "pdf": "https://pasion.georfact.test/downloads/document/pdf/77018ea6-6e05-427a-8664-2177da36f24d",
            "cdr": "https://pasion.georfact.test/downloads/document/cdr/77018ea6-6e05-427a-8664-2177da36f24d",
            "xml": "https://pasion.georfact.test/downloads/document/xml/77018ea6-6e05-427a-8664-2177da36f24d"
        }
    },
    "success": true,
    "message": "Información procesada de forma correcta."
}, null, 2) }
	</pre>

	<br><br>
	<h5>Anular pedido</h5>
	<hr />
	<p>
		<strong>URL: </strong>
		<span>https://pasion.georfact.test/api/v1/ecommerce/orders/[code]/cancel</span>
	</p>
	<p><strong>Método: </strong>POST</p>
	<p>
    Se requiere autenticación y validacion para acceder a estas API.
    Solo se puede anular los pedidos que se encuentren en estado <strong>PAGADO|EN PREPARACIÓN|EN CAMINO|ENTREGADO</strong>.
    </p>
	<p>
		<strong>Respuesta:</strong>
	</p>
	<pre>
		{ JSON.stringify({
    "success": true,
    "message": "Información procesada de forma correcta."
}, null, 2)
</MainLayout>
